
language: python

python:
  - "3.4"
  - "3.5"
  - "3.6"
  - "3.7"
  - "3.8"

install:
  - pip install -r requirements.txt

script:
  - python setup.py clean build
  - python setup.py test
  - python setup.py install
